<%= form_for @syllabus, :html => { :multipart => true } do |f| %>
  <% if @syllabus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@syllabus.errors.count, "error") %> prohibited this syllabus from being saved:</h2>

      <ul>
      <% @syllabus.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :professor %><br />
    <%= f.text_field :professor %>
  </div>
  <div class="field">
    <%= f.file_field :syllabi_upload %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
