<h2>Listing syllabuses</h2>

<table>
  <tr>
    <th>Subject</th>
    <th>Professor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @syllabuses.each do |syllabus| %>
  <tr>
    <td><%= syllabus.subject %></td>
    <td><%= syllabus.professor %></td>
    <td class="options"><%= link_to 'Syllabus', syllabus %></td>
    <td class="options"><%= link_to 'Edit', edit_syllabus_path(syllabus) %></td>
    <td><!--<%= link_to 'Destroy', syllabus, :confirm => 'Are you sure?', :method => :delete %>--></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Syllabus', new_syllabus_path %><br/>
<%= link_to 'Home Page', root_path %>
