<div id="wrapper">
	
	<div id="user_nav">
	<ul>
	<li><% if user_signed_in? %>
	<%= current_user.email %>. Not you?
	<%= link_to "Sign out", destroy_user_session_path  %>
	<% else %>
	<%= link_to "Sign up", new_user_registration_path%> or <%= link_to "Sign in", new_user_session_path %>
	<% end %></li>
	<li><%= link_to 'View all Syllabus', syllabuses_path %></li>
	<li><%= link_to 'Upload a Syllabus', new_path %></li>
	<li><%= link_to 'About Page', about_path %></li>
	<li><%= link_to "Home", root_path %></li>
	</ul>
	<br/>
	</div>
	<div id="about">
		<h2>About the Company</h2>
		<p>Ut sit amet ultrices turpis. Aliquam erat volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur eget bibendum dui. Nam aliquet, metus at molestie mollis, mi nisi ornare risus, at tempus ante ipsum quis lectus. Mauris vel nunc consectetur libero fermentum mattis et tincidunt odio. Curabitur orci diam, aliquam faucibus blandit id, iaculis in arcu. Donec feugiat vulputate varius. Quisque id justo nulla, gravida porttitor nibh. Aenean tristique sapien id tellus semper ac varius nisl tristique. Proin quis mi quis purus volutpat congue quis et arcu.</p><br/>
		<span class="name">Nicholas Greenfield</span><br/>
		<span class="title">Founder</span>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque leo, porttitor vitae scelerisque sit amet, iaculis at lacus. Vestibulum pellentesque quam a eros egestas eget elementum lacus egestas. Quisque in nibh velit. Nunc in metus quam. Duis mollis laoreet lectus, ac vulputate arcu commodo nec. Morbi hendrerit leo vel ipsum volutpat dictum. Sed ac neque diam. Donec nec ante ut nisi venenatis aliquam ut non massa. Vivamus nulla augue, ultricies vitae eleifend quis, lacinia vel velit. Etiam semper congue est a pharetra. Nam non velit et justo pulvinar venenatis fringilla ut eros.</p>
		</div>
		<div id="copy">Copyright Nicholas Greenfield, 2011</div>
</div>