<div id="wrapper">
	
	<div id="user_nav">
	<ul>
	<li><% if user_signed_in? %>
	<%= current_user.email %>. Not you?
	<%= link_to "Sign out", destroy_user_session_path  %>
	<% else %>
	<%= link_to "Sign up", new_user_registration_path%> or <%= link_to "Sign in", new_user_session_path %>
	<% end %></li>
	<li><%= link_to 'View all Syllabus', syllabuses_path %></li>
	<li><%= link_to 'Upload a Syllabus', new_path %></li>
	<li><%= link_to 'About Page', about_path %></li>
	<li><%= link_to "Home", root_path %></li>
	</ul>
	<br/>
	</div><!--Closes the user_nav div-->
	<div id="intro">
		<h2>Welcome to Syllabi</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean neque leo, porttitor vitae scelerisque sit amet, iaculis at lacus. Vestibulum pellentesque quam a eros egestas eget elementum lacus egestas. Quisque in nibh velit. Nunc in metus quam. Duis mollis laoreet lectus, ac vulputate arcu commodo nec. Morbi hendrerit leo vel ipsum volutpat dictum. Sed ac neque diam. Donec nec ante ut nisi venenatis aliquam ut non massa. Vivamus nulla augue, ultricies vitae eleifend quis, lacinia vel velit. Etiam semper congue est a pharetra. Nam non velit et justo pulvinar venenatis fringilla ut eros. Integer pretium, tellus ut convallis porttitor, purus mi sodales turpis, ac pretium turpis augue ac massa. Proin id turpis a est elementum congue.</p>
		<ul>
		<li>Lorem ipsum dolor sit amet</li>
		<li>Aenean neque leo</li>
		<li>Donec nec ante ut nisi</li>
		</ul>
		<p>Nam molestie lacinia nunc sed pretium. Ut vitae eros non eros placerat sollicitudin. Duis luctus, libero at feugiat varius, mi eros laoreet quam, ac porttitor elit odio vitae massa. Vivamus sed lorem augue, quis mollis nunc. Maecenas ut sapien laoreet leo venenatis auctor. Nulla interdum justo eget nibh sollicitudin ac mollis massa consectetur.</p>
		</div>
		
<div id="copy">Copyright Nicholas Greenfield, 2011</div>
</div>