<div class="signin">
	<div id="log_nav">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to 'About Page', about_path %></li>
			<li><%= link_to "Sign up", new_user_registration_path%></li>	
		</ul>
	</div><!--Closes the log_nav -->
	
<h2>Sign in</h2>

<%= form_for(resource_name, resource, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>

  <p><%= f.label :password %></p>
  <p><%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  <% end -%>

  <p><%= f.submit "Sign in" %></p>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>
	
</div><!--Closes the sign-in div-->